body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
}

.div-body {
        width: 50%;
        height: fit-content;
        margin: 0 auto;
        background-color: #FFE5CC;
    }

    .div-bodyhot {
        width: 50%;
        height: 910px;
        margin: 0 auto;
        background-color: #FFE5CC;
    }
    

    /*logo*/
    
    .logo {
        width: auto;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 2%;
    }
    /*domov obr*/
    
    .obrdomov {
width: 100%;
max-width: 800px;
height: auto;
    }
    /*---*/
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        text-align: center;
    }
    
    .domovtxt {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
        padding: 1%;
    }
    .domovtxtlink {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
        padding: 1%;
    }

    .domovtxtlink a{
        color: black;
        background-color: #333;
        color: #FFE5CC;
        text-decoration: none;
        padding:10px;
    }


    .containeris {
        text-align: center;
      border-radius: 5px;
      background-color: #FFE5CC;
      color:black;
      width: 550px;
      border-top: none;
      border-bottom: 1px solid black;
    }
    .containeris h3 { 
        text-align: center;;
        color:black;
        font-size: 23px;
        font-family: 'Montserrat', sans-serif;
    }
    .containeris p {
        text-align: center;
        padding-bottom: 5%;
    }

    .domovtxtlink a:hover{
        background-color: #FFE5CC;
        color: #333;
        transition: 1s;
        text-decoration: none;
        padding:0px;
    }

    
    .map {
        text-align: center;
    }
    
    .otv {
        text-align: center;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .mail {
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-top: none;
        border-bottom: 1px solid black;
        margin:auto;
        width: 43%;
    }
    /*menu*/
    
    .randomtext {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        width: 58%;
    }
    .randomtext1 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        width: 80%;
    }


    .menu-menu {
        width: 50%;
        margin: 0 auto;
        height: 150%;
    }
    
    div.gallery img {
        max-width: 100%;
        height: auto;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    /*popisky obrazkov*/
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        color: #333;
    }
    
    .popis {
        background-color: #FFE5CC;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #333;
        padding: 3%;
    }
    .biggg { font-size:180%; }


    .carousel-inner {
overflow: hidden;
    }

    #myCarousel {
        width:90%; height: 100%;
    }

    .carousel-caption-trava {
        background-color: #FFE5CC;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #333;
    }
    /*galleria*/
    
    .Velkost-OBR-galleria img {
        width: 100%;
        height: 100%;
    }
    /*footer*/
    

    #page-container {
        position: relative;
        min-height: 100vh;
      }
      
      #content-wrap {
        padding-bottom: 2.5rem;   
      }



    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        color: #FFE5CC;
        font-size: 15px;
        text-decoration: none;  
        text-align: center;
        font-family: 'Montserrat', sans-serif;          
      }
    

    
    .footr :hover {
        text-decoration: none;
    }
    /*NAV bar*/
    
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #333;
        width: 100%;
    }
    
    li {
        display: inline-block;
    }
    
    li a {
        font-size: 28px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 16px 19px;
        text-decoration: none;
        color: #FFE5CC;
    }
    
    li a:hover {
        background-color: black;
        transition: 1s;
        transition-property: initial;
    }
    
    
    h3 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #333;
        color: white;
        padding: 12px 20px;
        border: solid;
        border-radius: 4px;
        border-color: #FFE5CC;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: rgb(49, 49, 49);
    }
    
    .container {
        background-color: #333;
        padding: 40px;
        width: 90%;
    }